<!-- CAROUSEL -->
<div id="carouselExample" class="carousel slide">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="https://www.malditohard.com.ar/wp-content/uploads/banner-home-maldito-hard-3.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="https://img.freepik.com/premium-psd/banner-black-week-portuguese-3d-render-marketing-campaign-brazil_364106-729.jpg?w=1380" class="d-block w-100" alt="...">
        </div>
        {{!-- <div class="carousel-item">
            <img src="img/carousel3.jpg" class="d-block w-100" alt="...">
        </div> --}}
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

{{!-- Bienvenida --}}

<div class="tituloProductos">
    <h2>Bienvenidos a Game Over</h2>
</div>